html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styles */
*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 900px;
    background: linear-gradient( #ff000087, #ff00008e), url(../media/bg-intro-desktop.png) no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
   padding-top: 10%;
}
article{
    max-width: 600px;
    color: #fff;
    padding: 20% 3% 20% 0;
}
.article  h1{
    font-size: 50px;
    font-weight: 600;
}
.article p{
    font-size: 20px;
    
}
.form-section h2{
       border-radius: 9px;
       background-color: indigo;
       color: #fff;
       font-size: 15px;
       padding: 4% 12% ;
       box-shadow: 0px 8px  rgb(217,101,102);
}
.form-section h2 small{
    color: rgb(163, 162, 162);
}
form {
    padding: 5%;
    margin: 6% 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 3px rgba(217, 101, 103, 0.822);
}
.form-section input{
    padding: 3.4% 5%;
    margin: 5% 0;
    display: block;
    width: 100%;
}
form input::placeholder{
    color: black;
}
.btn{
    background-color: #0cca23;
    color: #fff;
    border: 0;
    border-radius: 9px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
     box-shadow: 0px 6.5px rgb(42 142 99);
}
